.inputField {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  box-sizing: border-box;
}

.combobox {
    border: 1px solid black;
    border-radius: 5px;
    height: 2rem;
    background: linear-gradient(var(--bb-color-neutral), var(--bb-color-brand));
}

.text {
  margin: 0 auto;
  display: flex;
  margin-bottom: 0.5rem;
  text-align: center;
  justify-content: center;
}


