.inputField {
    margin: auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
}

.text {
    margin: auto;
    display: flex;
    margin-bottom: 2%;
    text-align: center;
} 

.combobox {
    border: 1px solid black;
    border-radius: 5px;
    height: 2rem;
    background: linear-gradient(var(--bb-color-neutral), var(--bb-color-brand));
}