<div class="w-full min-h-screen max-w-2xl mx-auto px-4 sm:px-0 flex flex-col">
    <img src="images/BBLogo.png" class="w-[125px] m-auto" alt="BangBang logo image">
    <div id="line"></div>
    <div class="flex-1 flex flex-col justify-start">
        <form (ngSubmit)="onSubmit()">
            <div class="w-full max-w-xl mx-auto grid gap-4 sm:grid-cols-2">
                <div class="inputField">
                    <label class="custom-text-input-label">Name</label>
                    <input type="text" class="custom-text-input" [(ngModel)]="name" name="name" />
                </div>

                <div class="inputField">
                    <label class="custom-text-input-label">Surname</label>
                    <input type="text" class="custom-text-input" [(ngModel)]="surname" name="surname" />
                </div>

                <div class="inputField">
                    <label class="custom-text-input-label">Country</label>
                    <input type="text" class="custom-text-input" [(ngModel)]="country" name="country" />
                </div>

                <div class="inputField">
                    <label class="custom-text-input-label">Date of birth</label>
                    <input type="date" max="{{today}}" class="custom-text-input" [(ngModel)]="dob" name="dob" />
                </div>
            </div>
            <div class="max-w-xl mx-auto">
                <div class="inputField">
                    <label class="custom-text-input-label">Username</label>
                    <input type="text" class="custom-text-input" [(ngModel)]="username" name="username" />
                </div>
                <div class="inputField">
                    <label class="custom-text-input-label">E-mail</label>
                    <input type="text" class="custom-text-input" [(ngModel)]="email" name="email" />
                </div>
                <div class="inputField">
                    <label class="custom-text-input-label">Password</label>
                    <input type="password" class="custom-text-input" [(ngModel)]="password" name="password" />
                </div>
                <div class="inputField">
                    <label class="custom-text-input-label">Gender</label>
                    <select [(ngModel)]="gender" name="gender" class="combobox">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
            </div>
            <div class="w-[100%] mt-[0.5rem] flex flex-col">
                <div class="m-[auto] pt-[0.8rem]">
                    <button class="custom-button" type="submit">CREATE ACCOUNT</button>
                </div>
                <div *ngIf="success">
                    <div id="alert" class="bg-green-400">
                        <div class="text text-white">
                            <p><strong>Account created!</strong> Click <a class="underline" routerLink="login">here</a>
                                to
                                login</p>
                        </div>
                    </div>
                </div>
                <div *ngIf="error">
                    <div id="alert" class="bg-red-400">
                        <div class="text text-white">{{error}}</div>
                    </div>
                </div>
                <div id="line"></div>
            </div>
            <div class="text-center hover:underline mt-2">
                <a routerLink="login">Back to login page</a>
            </div>
        </form>
    </div>
</div>