.inputField {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  box-sizing: border-box;
}

.text {
  margin: 0 auto;
  display: flex;
  margin-bottom: 0.5rem;
  text-align: center;
  justify-content: center;
}


