@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}


body {
    --bb-color-brand: #d5739d;
    --bb-color-neutral: #e6d0de;
    --bb-color-black: black;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;

    background: linear-gradient(var(--bb-color-neutral), var(--bb-color-brand));

    overflow-x: hidden;
}

.custom-text-input {
    border: 1px solid var(--bb-color-black);
    border-radius: 5px;
    padding-left: 0.5rem;
    line-height: 2rem;
    background: linear-gradient(var(--bb-color-neutral), var(--bb-color-brand));
}

.custom-text-input-label {
    padding-bottom: 4px;
    font-size: 0.9rem;
}

.custom-button {
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1.5px solid var(--bb-color-black);
    border-radius: 10px;
    background: linear-gradient(var(--bb-color-neutral), var(--bb-color-brand));
}

.custom-button:hover {
    cursor: pointer;
}

#line {
  width: 80%;
  height: 5px;
  background: purple;
  border-radius: 5px;
  margin: 12px auto;
  display: block;
  text-align: center;
}

#alert {
  width: 90%;
  max-width: 420px;

  min-height: 40px;
  padding: 8px 12px;

  border-radius: 5px;
  margin: 12px auto;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  box-sizing: border-box;
}
