# Angular specific
BangBang/dist/
BangBang/out-tsc/
BangBang/tmp/
BangBang/coverage/
BangBang/e2e/test-output/
BangBang/.angular/
BangBang.angular/

# Node modules and dependency files
BangBang/node_modules/
BangBang/package-lock.json
BangBang/yarn.lock

# Environment files
BangBang/.env

# Angular CLI and build artefacts
BangBang/.angular-cli.json
BangBang/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backend project
bangbang-backend/node_modules
