.message {
    max-width: 60%;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.message-author {
    background: linear-gradient(var(--bb-color-neutral), var(--bb-color-brand));;
}

.content {
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 10px;
    margin: auto;
    height: 100%;
    width: 90%;
    margin-top: 10px;
}