.inputField {
    margin: auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
}

.text {
    margin: auto;
    display: flex;
    margin-bottom: 2%;
    text-align: center;
}

#alertLong {
  width: 90%;
  max-width: 600px;
  min-height: 40px;
  padding: 10px 12px;
  border-radius: 5px;
  margin: 12px auto;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  box-sizing: border-box;
}



