.inputField {
    margin: auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
}

.text {
    margin: auto;
    display: flex;
    margin-bottom: 2%;
    text-align: center;
}

#alertLong {
  width: 60%;
  height: auto;
  border-radius: 5px;
  margin: auto;
  display: flex;
  margin-top: 3%;
  text-align: center;
}



