.yes-button {
    background-color: #d5e8d4;
    border: 1px solid #82b366;
}

.no-button {
    background-color: #f8cecc;
    border: 1px solid #b85450;
}

.match-button {
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    font-weight: 550;
}

.match-container {
    border: 1px solid black;
}

.description-tile {
    position: absolute;
    width: 50vw;
    height: 40vh;
    border: 1.5px solid black;
    border-radius: 2px;
    padding: 0.5rem;
    background-color: var(--bb-color-brand);
    top: 25%;
    left: 25%;
}