:host {
  display: block;
  height: 100%;
}

.page {
  position: relative;
  height: 100vh;
  display: grid;
  place-items: center;
  padding: 12px;
  overflow: hidden;
}

.page__bg {
  position: absolute;
  inset: 0;
  filter: saturate(1.05);
}

.card {
  position: relative;
  width: min(760px, 100%);

  height: calc(100vh - 24px); 
  max-height: calc(100vh - 24px);

  display: flex;
  flex-direction: column;

  background: rgba(110, 100, 110, 0.45);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 14px 35px rgba(0, 0, 0, 0.25);
}

.header {
  flex: 0 0 auto;
  padding: 18px 26px 6px;
  text-align: center;
}

.headerLogo {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 3;
  width: 100px;
  display: grid;
  place-items: center;
}

.content {
  flex: 1 1 auto;
  min-height: 0; 
  padding: 6px 26px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-nav {
  flex: 0 0 56px;
  height: 56px;
  background: rgba(45, 45, 45, 0.95);
  display: flex;
  align-items: center;
  padding: 0 14px;
  gap: 14px;
}

/* tutaj */
.yes-button {
    background-color: #d5e8d4;
    border: 1px solid #82b366;
}

.no-button {
    background-color: #f8cecc;
    border: 1px solid #b85450;
}

.match-button {
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    font-weight: 550;
}

.match-container {
    
    border-radius: 20px;

    --bb-color-brand: #d5739d;
    --bb-color-neutral: #e6d0de;
    background-color: var(--bb-color-neutral);
}

.image {
    border: 1px solid black;
    border-radius: 20px;
}

.userName {
    padding-left: 7px;
    font-weight: bold; 
}

.description-tile {
    position: absolute; 
    width: 50vw;
    overflow-wrap: anywhere;
    height: 40vh;
    border: 1.5px solid black;
    border-radius: 2px;
    padding: 0.5rem;
    background-color: var(--bb-color-brand);
    top: 25%;
    left: 25%;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .45);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  z-index: 9999;
}

.alert {
  width: min(360px, 100%);
  background: #fff;
  border-radius: 14px;
  padding: 22px 24px 18px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, .3);
  text-align: center;
  position: relative;
  animation: pop .2s ease;
}

@keyframes pop {
  from {
    transform: scale(.95);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 12px;
  border: 0;
  background: transparent;
  font-size: 22px;
  cursor: pointer;
  color: #666;
}

.grid {
  padding-top: 10px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}

.buttonGrid {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}