.yes-button {
    background-color: #d5e8d4;
    border: 1px solid #82b366;
}

.no-button {
    background-color: #f8cecc;
    border: 1px solid #b85450;
}

.match-button {
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    font-weight: 550;
}

.match-container {
    border: 1px solid black;
}