.chats-container {
    background: rgba(110, 100, 110, 0.45);
    box-shadow: 0 14px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.chat-row {
    border: 1px solid black;
    border-radius: 10px;
}

.chat-name {
    font-size: 1.5rem;
    font-weight: 600;
}

.buttons-container {
    background: rgba(45, 45, 45, 0.95);
    border-radius: 0 0 10px 10px;
}